:root {
  font-family: Onest;
  line-height: 1.7;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  display: flex;
  align-items: top;
  min-width: 320px;
  min-height: 100vh;
}

.table_container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.student_form{
    text-align: center;
}


div#root{
    width: 100%;
}

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.form_label{
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 10px;
}


.student_add {
  justify-content: flex-end;
}

.text_center{
    text-align: evenly;
}


td {
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: auto;
  margin-right: 20px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
